{#
/**
 * @file
 * Default theme implementation for a summary of a webform remote posts handler.
 *
 * Available variables:
 * - settings: The current configuration for this remote post handler.
 * - handler: The pardot submission handler handler.
 *
 * @ingroup themeable
 */
#}

<b>{{ 'Pardot URL:'|t }}</b> {{ settings.pardot_url }}<br />
{% if settings.pardot_fields_mapping %}
	<b>{{ 'Pardot fields mapping:'|t }}</b> {{ settings.pardot_fields_mapping }}<br />
{% endif %}
